/* google font {Poppins, Inter, Roboto} link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    /* custom font */
    --font-roboto: "Roboto", sans-serif;
    --font-poppins: "poppins", sans-serif;
    --font-inter: "inter", sans-serif;

    /* custom bg color */
    --featured-bg-color-one: #f2fce4;
    --featured-bg-color-two: #fff3ff;
    --featured-bg-color-three: #fffceb;
    --featured-bg-color-four: #ecffec;
    --featured-bg-color-five: #feefea;
    --featured-bg-color-six: #fff3eb;

    --featured-big-bg-color-one: #f0e8d5;
    --featured-big-bg-color-two: #f3e8e8;
    --featured-big-bg-color-three: #e7eaf3;

    --popular-add-btn-bg: #def9ec;
    --popular-card-pink-bg: #f74b81;
    --popular-card-blue-bg: #67bcee;
    --popular-card-purple-bg: #9747ff;

    --best-sales-bg-color: #d8ebe5;
    --best-sales-range-bg-color: #d9d9d9;

    /* custom text color */
    --custom-text-white-color: #ffffff;
    --custom-text-black-color: #000000;
    --custom-text-primary-color: #3bb77e;
    --custom-text-light-gray: #cacaca;
    --custom-text-dark-gray: #b0a9a9;
    --star-color: #fdc040;

    /* custom border color */
    --custom-border-color: #81b13d;
    --custom-popular-border-color: #cebbbb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 0.1px solid #b0a9a9; */
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    font-family: var(--font-roboto);
    background: var(--custom-text-white-color);
    color: var(--custom-text-black-color);
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--custom-text-black-color);
    cursor: pointer;
}

.shop-now-btn {
    width: 100px;
    height: 28px;
    background: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 0.02em;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-btn {
    width: 71px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background: var(--popular-add-btn-bg);
    color: var(--custom-text-primary-color);
    border-radius: 4px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    border: none;
    outline: none;
    cursor: pointer;
}

.add-btn:hover {
    background: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
}

.add-to-cart-btn {
    width: 211px;
    height: 43px;
    background: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
    border-radius: 8px;
    outline: none;
    border: none;
}

.add-to-cart-btn img {
    color: white;
}

.featured-bg-one {
    background: var(--featured-bg-color-one);
}
.featured-bg-two {
    background: var(--featured-bg-color-two);
}
.featured-bg-three {
    background: var(--featured-bg-color-three);
}
.featured-bg-four {
    background: var(--featured-bg-color-four);
}
.featured-bg-five {
    background: var(--featured-bg-color-five);
}
.featured-bg-six {
    background: var(--featured-bg-color-three);
}
.featured-bg-seven {
    background: var(--featured-bg-color-six);
}
.featured-bg-eight {
    background: var(--featured-bg-color-one);
}
.featured-bg-nine {
    background: var(--featured-bg-color-two);
}
.featured-bg-ten {
    background: var(--featured-bg-color-five);
}

.featured-big-card-bg-one {
    background: var(--featured-big-bg-color-one);
}
.featured-big-card-bg-two {
    background: var(--featured-big-bg-color-two);
}
.featured-big-card-bg-three {
    background: var(--featured-big-bg-color-three);
}

.primary-text {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--custom-text-primary-color);
}

.gray-text {
    color: var(--custom-text-dark-gray);
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.green-text {
    color: var(--custom-text-primary-color);
}

.star {
    color: var(--star-color);
    font-size: 14px;
}

.card-pink-bg {
    width: 92px;
    height: 41px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 30px;
    background: var(--popular-card-pink-bg);
    color: var(--custom-text-white-color);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}
.card-blue-bg {
    width: 92px;
    height: 41px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 30px;
    background: var(--popular-card-blue-bg);
    color: var(--custom-text-white-color);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}
.card-green-bg {
    width: 92px;
    height: 41px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 30px;
    background: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}
.card-purple-bg {
    width: 92px;
    height: 41px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 30px;
    background: var(--popular-card-purple-bg);
    color: var(--custom-text-white-color);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}
.card-yellow-bg {
    width: 92px;
    height: 41px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 30px;
    background: var(--star-color);
    color: var(--custom-text-white-color);
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-inter);
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
}

::selection {
    background-color: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
}

.active,
.active a {
    color: #3bb77e;
}

/* HEADER */

/* HEADER FIRST SECTION */
.header .header-first-section {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    padding-left: 36px;
    padding-right: 23px;
}

.header-first-section .header-search-bar {
    width: 719px;
    height: 80px;
    display: flex;
    align-items: center;
    opacity: 1;
    border: 2px solid var(--custom-border-color);
}

.header-search-bar .header-search-bar-select {
    border: none;
    outline: none;
    cursor: pointer;
}

.header-search-bar .header-form {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 32px;
}

.header-search-bar .header-form .header-form-input {
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    flex: 1;
    outline: none;
    border: none;
    height: 40px;
    border-left: 1px solid var(--custom-text-light-gray);
    padding: 20px;
}

.header-search-bar .header-form .header-form-input::placeholder {
    color: var(--custom-text-light-gray);
}

.header-search-bar .header-form .header-form-button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.header-first-section .header-icons {
    display: flex;
    align-items: center;
    gap: 18px;
}

.header-first-section .header-icons .icon {
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.header-icons .icon .icon-img {
    width: 26px;
    height: 26px;
    position: relative;
}
.header-icons .icon .icon-img span {
    width: 20px;
    height: 20px;
    opacity: 1;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    background: var(--custom-text-primary-color);
    border-radius: 50%;
    color: var(--custom-text-white-color);
    display: grid;
    place-items: center;
    position: absolute;
    top: -6px;
    right: -14px;
}

.header-icons .icon p {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    color: var(--custom-text-light-gray);
}

/* HEADER SECOND SECTION */
.header .header-second-section {
    width: 100%;
    border-top: 1px solid var(--custom-text-light-gray);
    border-bottom: 1px solid var(--custom-text-light-gray);
    margin-top: 30px;
}

.header-second-section .nav {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding-left: 38px;
    padding-right: 80px;
}

.header-second-section .nav .header-nav-selection {
    width: 259px;
    height: 43px;
    background: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-second-section .nav .header-nav-selection select {
    border: none;
    outline: none;
    background: none;
    color: var(--custom-text-white-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 18px;
    margin: 36px 0 50px 0;
}

.nav-links .fire {
    display: flex;
    align-items: center;
    gap: 2px;
}

.nav-links .nav-link a {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    transition: all 0.2s ease;
}

.nav-links .nav-link:hover,
.nav-links .nav-link:hover a {
    color: #3bb77e;
}

.header-support-center {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
}

.header-support-center h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0.07em;
    color: var(--custom-text-primary-color);
}
.header-support-center p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: var(--custom-text-light-gray);
}

/* HERO SECTION */

.hero {
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin-inline: auto;
    padding: 27px 56px 60px 61px;
}

.hero .hero-section {
    background: url(../assets/images/bg-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 126px;
    position: relative;
}

.hero-text-content .hero-text {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 55px;
}

.hero-text h1 {
    font-family: var(--font-poppins);
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.09em;
}

.hero-text p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--custom-text-dark-gray);
}

.hero-text-content .hero-input {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    width: 414px;
    height: 67px;
    border-radius: 100px;
    position: relative;
}

.hero-input input {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: none;
    outline: none;
    padding-left: 45px;
    font-weight: 500;
    font-size: 15px;
    font-family: var(--font-roboto);
    line-height: 1;
    letter-spacing: 0.02em;
}

.hero-input input::placeholder {
    color: var(--custom-text-dark-gray);
}

.hero-input button {
    width: 164px;
    height: 67px;
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.03em;
    background: var(--custom-text-primary-color);
    color: var(--custom-text-white-color);
    border-radius: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    cursor: pointer;
}

/* FEATURED SECTION */

.featured-section {
    width: 100%;
    max-width: 1440px;
    height: auto;
    margin-inline: auto;
    padding: 0 56px 47px 61px;
    font-family: var(--font-inter);
}

.featured-section .featured-section-text {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 45px;
}

.featured-section-text h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0;
}

.featured-section-text ul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 28px;
}

.featured-section ul li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0em;
}

.featured-section ul li:hover a {
    color: var(--custom-text-primary-color);
}

.featured-small-cards {
    width: 100%;
    height: auto;
    margin: 42px 0;
    display: flex;
    align-items: center;
    gap: 25px;
}

.featured-small-cards .small-card {
    width: 110px;
    height: 148px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.featured-small-cards .small-card h4 {
    width: 100%;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0em;
}

.featured-small-cards .small-card p {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--custom-text-dark-gray);
}

.featured-big-cards {
    display: flex;
    align-items: center;
    gap: 20px;
}

.featured-big-cards .featured-big-card {
    width: 100%;
    max-width: 428px;
    height: 244px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
}

.featured-big-card .featured-big-card-text {
    width: 100%;
    max-width: 261px;
    display: flex;
    flex-direction: column;
    gap: 49px;
    padding-left: 42px;
}

.featured-big-card .featured-big-card-text h3 {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
}

.featured-big-card .featured-big-card-img img {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* POPULAR PRODUCT SECTION */
.popular-section {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 72px 39px 61px;
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.popular-section .popular-text-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-section .popular-text-content h3 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0em;
}

.popular-text-content .popular-lists {
    display: flex;
    align-items: center;
    gap: 20px;
}

.popular-text-content .popular-lists .popular-list {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0em;
}

.popular-text-content .popular-lists .popular-list:hover a {
    color: var(--custom-text-primary-color);
}

.popular-section .popular-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 22px;
}

.popular-cards .popular-card {
    width: 310px;
    height: 438px;
    border: 1px solid var(--custom-popular-border-color);
    border-radius: 10px;
    display: grid;
    place-items: center;
    position: relative;
}

.popular-cards .popular-card:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

.popular-card img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popular-card .popular-card-text {
    position: absolute;
    bottom: 41px;
}

.popular-card .popular-card-text {
    width: 100%;
    max-width: 259px;
}

.popular-card .popular-card-text h4 {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
}

.popular-card-text .popular-card-stars {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 10px;
}

.popular-card-text .popular-card-stars .star {
    font-size: 14px;
}

.popular-card-text .popular-card-stars .star-point {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
}

.popular-card-text .popular-card-amount {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.popular-card-text .popular-card-amount p {
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: var(--custom-text-dark-gray);
    margin: 8px 0;
}

.popular-card-amount .card-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-card-text .popular-card-amount .amount {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.popular-card-text .popular-card-amount .amount span {
    font-size: 14px;
}

/* BEST SALES PRODUCT */

.best-sales {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 25px 38px 27px;
}

.best-sales .best-sales-texts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.best-sales .best-sales-texts h3 {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    padding-left: 55px;
}

.best-sales .best-sales-products-show {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

.best-sales .best-sales-lists {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: var(--font-inter);
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    padding-right: 99px;
}

.best-sales .best-sales-texts .best-sales-lists a:hover {
    color: var(--custom-text-primary-color);
}

.best-sales-naturals-product {
    width: 321px;
    height: 468px;
    background: var(--best-sales-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.best-sales-naturals-product .best-sales-naturals-product-texts {
    width: 100%;
    max-width: 202px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 59px;
    left: 31px;
}

.best-sales-naturals-product .best-sales-naturals-product-texts h3 {
    font-family: var(--font-poppins);
    font-weight: 600;
    font-size: 32px;
}

.best-sales-naturals-product .best-sales-naturals-product-img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.best-sales-product-cards {
    display: flex;
    align-items: center;
    gap: 22px;
}

.best-sales-product-cards .best-sales-product-card {
    width: 252px;
    height: 468px;
    border: 1px solid var(--custom-text-light-gray);
    border-radius: 10px;
    padding: 18px 20px 22px;
    cursor: default;
    position: relative;
}

.best-sales-product-card .best-sales-img {
    display: grid;
    place-items: center;
}

.best-sales-product-cards
    .best-sales-product-card:hover
    .best-sales-card-texts
    h4 {
    color: var(--custom-text-primary-color);
}

.best-sales-product-cards .best-sales-product-card:hover .add-to-cart-btn {
    color: var(--custom-text-white-color);
    background: var(--star-color);
}

.best-sales-product-card .best-sales-card-texts p {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    color: var(--custom-text-light-gray);
    margin-bottom: 6px;
}

.best-sales-product-card .best-sales-card-texts h4 {
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 14px;
}

.best-sales-card-texts .stars-color {
    font-size: 14px;
    margin-bottom: 12px;
}

.best-sales-card-texts .amount .primary-text {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.best-sales-card-texts .amount .gray-text {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.best-sales-card-texts .product-range {
    width: 100%;
    height: 7px;
    background: var(--best-sales-range-bg-color);
    margin-top: 16px;
    margin-bottom: 12px;
    position: relative;
}

.best-sales-card-texts .product-range .half-range {
    width: 50%;
    height: 100%;
    background: var(--custom-text-primary-color);
    position: absolute;
    top: 0;
    left: 0;
}

.best-sales-card-texts .sold {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.best-sales-product-card .add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

/* DEALS SECTION */

.deals {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 32px 144px;
}

.deals .deals-heading {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 34px;
}

.deals .deals-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.deals .deals-cards .deals-card {
    width: 329px;
    height: auto;
    position: relative;
}

.deals-cards .deals-card .deals-card-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    position: absolute;
    bottom: -102px;
    left: 50%;
    transform: translate(-50%);
}

.deals-card .deals-card-texts .deals-card-small-boxes {
    display: flex;
    align-items: center;
    gap: 8px;
}

.deals-card .deals-card-texts .deals-card-small-boxes .small-box {
    width: 64px;
    height: 66px;
    background: var(--custom-text-white-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deals-card .deals-card-texts .deals-card-small-boxes .small-box p {
    font-family: var(--font-inter);
    font-weight: 600;
    font-size: 13px;
    line-height: 1;
    text-align: center;
}

.deals-card .deals-card-texts .deals-card-big-box {
    width: 295px;
    height: 171px;
    background: var(--custom-text-white-color);
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 18px 14px;
}

.deals-card-texts .deals-card-big-box .big-box-details .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.deals-card-texts .deals-card-big-box .big-box-details .details h5 {
    width: 220px;
    font-family: var(--font-poppins);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.5;
}

.big-box-details .card-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}

/* TOP PRODUCTS */
